* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-group {
	margin: 30px 0 0;
	
	input,
	textarea,
	button {
		display: block;
	    width: 300px;
	    margin: 0 0 20px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}

	button

	textarea {
		height: 150px;
	}
}